`body, h1, h2, h3, div, li, table, ul {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

body {
  font-size: 15px;
  color: #00de00;
  background-color: #2f004c;
  font-family: courier;
}

table {
  width: 100%;
  margin: 40px 0;
}

h1 {
  font-size: 30px;
  margin: 20px;
}

a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

td {
  font-size: 20px;
  height: 100px;
  width: 100px;
  text-align: center;
}

td:first-of-type{
  display: flex;
}

td:first-of-type, td:first-of-type > div {
  height: 150px;
  width: 225px;
  margin: auto;
}

th {
  width: 20%;
  font-size: 20px;
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

svg {
  height: 150px;
}

form {
  width: 97%;
  margin: auto;
}

input {
  color: #00de00;
  background-color: #2f004c;
  font-family: courier;
  font-size: 18px;
  border-color: white;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 50px;
  width: 85%;
  margin-top: 20px;
  box-sizing: border-box;
  border: 1px solid white;
  padding: 10px;
}

input:focus {
  outline: 0;
}

button {
  color: white;
  font-size: 18px;
  height: 50px;
  font-family: courier;
  width: 15%;
  cursor: pointer;
  background-color: #2f004c;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid white;
  border-left: 0px;
  box-sizing: border-box;
}
